---
title: Frank Massi
header_title: Frank Massi (@fdm1)
baseurl: ""
---

<div class="resume content">  
  {% assign resume_sections = (site.posts | where: "page_to_display", "resume" | where: "section_header", "true" | sort: "order")%}
  
    <p>
    <!-- break into "education", "experience", etc. -->
      {% for res_section in resume_sections %}
        <div class="section-header {{ res_section.section_name }}">
          <h1>{{ res_section.title }}</h1>
          <!-- in each section, find all sub posts -->
          
          {% assign sorted_posts = (site.posts | where: 'page_to_display', 'resume' | where: "section_header", "false" | where: "section_name": res_section.section_name | sort: "order" ) %}
          

          {% for post in sorted_posts %}
          {% if post.organization != %}
            <h2>{{ post.organization }}<span class="org-location">{{post.location}}</span></h2>
            <hr>
          {% endif %}
              <div class="resume {{ post.div_class }}" >
                <h3>{{ post.title }}<span class="date_of_exp">{{post.date_of_exp}}</span></h2></h3>              
                <p>{{ post.content }}</p>
          </div>
        
          {% endfor %}
        </div>
      {% endfor %}
      
    </p>
</div>