<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Frank Massi" />
    <!-- <title>{{ page.title }}</title> -->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.data.text.site_name }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <!-- NEED JQUERY -->
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h2><a href="/">{{ site.data.text.site_name }}</a></h1>
        <p class="header"></p>

        <ul>
          <li ><a class="buttons download" href={{ site.data.text.resume_url }} target="_blank">{{ site.data.text.resume_button_text }}</a></li>
          <li><a class="buttons linkedin" href={{ site.data.text.linkedin_url }} target="_blank">{{ site.data.text.linkedin_button_text }}</a></li>
          <li><a class="buttons github" href={{ site.data.text.github_url }} target="_blank">{{ site.data.text.github_button_text }}</a></li>
        </ul>

    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
