<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Frank Massi" />
    <!-- <title>{{ page.title }}</title> -->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.data.text.site_name }}</title>

    {% for files in site.data.css_and_js %}
      {% for css in files.css_files %}
        <link rel="stylesheet" href="/stylesheets/{{ css.filepath }}">      
      {% endfor %}

      {% for js in files.javascript_files %}
        <script src="javascripts/{{ js.filepath }}"></script>
      {% endfor %}
    
    {% endfor %}
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h2><a href="/">{{ site.data.text.site_name }}</a></h1>
        <p class="header"></p>

        <ul>
          {% for button in site.data.header_buttons %}

            <li ><a class="buttons {{ button.class }}" href={{ button.url }} target="_blank"><span class="header-link-text">{{ button.text }}</span></a></li>
          
          {% endfor %}
        </ul>

    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
